<div style="display: flex; align-items: center; justify-content: center;">
    <div class="align-items-center text-center">
        <mat-horizontal-stepper #stepper>
            <!--<mat-step  [stepControl]="firstFormGroup" errorMessage="Name is required.">-->
            <mat-step *ngFor='let item of questions; let i = index' [stepControl]="myFormGroup[i]"
                errorMessage="Une réponse est attendue.">
                <form [formGroup]="myFormGroup[i]">
                    <ng-template matStepLabel>Question n°{{i+1}}</ng-template>
                    <div>
                        <p>{{item.questions}}</p>
                    </div>
                    <!-- <mat-radio-group aria-label="Select an option" formControlName="{{item.questions}}" -->
                    <div style="display: flex; align-items: center; justify-content: center;" class="align-items-center">
                        <mat-radio-group aria-label="Select an option" formControlName="Ctrl0" required>
                            <mat-radio-button hidden></mat-radio-button>
                            <mat-radio-button color="primary" *ngFor='let response of item.answers' [value]='response'>
                                {{response}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <button class="btn btn-secondary" *ngIf='i != 0' mat-button
                            matStepperPrevious>Précédent</button>
                        <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="nameGroup" errorMessage="Une réponse est attendue.">
                <form [formGroup]="nameGroup">
                    <ng-template matStepLabel>Fin</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input formControlName="name" matInput required>
                    </mat-form-field>
                    <div>
                        <button class="btn btn-secondary" mat-button matStepperPrevious>Précédent</button>
                        <!-- <button class="btn btn-success" mat-button (click)="stepper.reset()">Reset</button> -->
                        <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!myFormGroup[0].valid || !myFormGroup[1].valid ||
                            !myFormGroup[2].valid || !myFormGroup[3].valid ||
                            !myFormGroup[4].valid || !myFormGroup[5].valid ||
                            !myFormGroup[6].valid || !myFormGroup[7].valid || !nameGroup.valid">Soumettre</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
        <!-- </form> -->
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">