<div style="display: flex; align-items: center; justify-content: center;">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" 
        (element.createdAt.split('.')[0] == created.created)-->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;"
                [ngStyle]="{'font-weight' : element.createdAt.split('.')[0] == created.created ? 'bold' : ''}"> {{i+1}}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"
                [ngStyle]="{'font-weight' : element.createdAt.split('.')[0] == created.created ? 'bold' : ''}">
                {{element.name}} </td>
        </ng-container>

        <!-- Score Column -->
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell *matCellDef="let element"
                [ngStyle]="{'font-weight' : element.createdAt.split('.')[0] == created.created ? 'bold' : ''}">
                {{element.score}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
    </table>
</div>