<!-- <h2 class="title">Questionnaire</h2> -->

<nav>
  <button routerLink="/" class="btn btn-link"><h2>Questionnaire</h2></button>
  <button routerLink="/leaderboard" class="btn btn-link"><h2>Classement</h2></button>
</nav>

<router-outlet></router-outlet>